$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

if (-not (Get-Command "scoop" -ErrorAction SilentlyContinue))
{
  Write-Error "Scoop hasn't been installed!"
  exit
}

{{ if .packages.windows.scoop.buckets }}
Write-Host 'ADDING SCOOP BUCKETS...'
{{   range $bucket := .packages.windows.scoop.buckets }}
scoop bucket add '{{ $bucket }}'
{{   end }}
{{ end }}

{{ if .packages.windows.scoop.pkgs }}
Write-Host 'INSTALLING SCOOP PACKAGES...'
{{   range $pkg := .packages.windows.scoop.pkgs }}
scoop install '{{ $pkg }}'
{{   end }}
{{ end }}

{{ if .packages.windows.scoop.importRegistry }}
Write-Host 'IMPORTING SCOOP REGISTRY...'
{{   range $reg := .packages.windows.scoop.importRegistry }}
if (Test-Path -Path "{{ $reg }}" -PathType Leaf)
{
  reg import "{{ $reg }}" # Need for env expansion
}
{{   end }}
{{ end }}
