{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo timedatectl set-ntp true

{{   if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf copr enable -y atim/starship
sudo dnf install -y starship
# starship preset jetpack -o ~/.config/starship.toml
starship preset plain-text-symbols -o ~/.config/starship.toml

sudo dnf copr enable -y lihaohong/yazi
sudo dnf install -y yazi

sudo dnf copr enable -y dejan/lazygit
sudo dnf install -y lazygit

curl -fsSL https://opencode.ai/install | bash

# opengl
# core
# sudo dnf install -y mesa-libGL mesa-libGLU
# drivers for hardware acceleration
# sudo dnf install -y mesa-vulkan-drivers mesa-dri-drivers
# utilities for glxgears glxinfo
# sudo dnf install -y glx-utils

sudo dnf install -y {{ .packages.common | join " " }}
sudo dnf install -y {{ .packages.linux.fedora | join " " }}

{{   else if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt update
sudo apt install -y {{ .packages.common | join " " }}
sudo apt install -y {{ .packages.linux.ubuntu | join " " }}

{{   end -}}

{{ end -}}
