{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash

if [ ! -d ~/.tmux ]; then
  git clone --single-branch https://github.com/yaomengsi/.tmux.git ~/.tmux
  ln -s -f ~/.tmux/.tmux.conf ~/.tmux.conf
  cp ~/.tmux/.tmux.conf.local ~/.tmux.conf.local
fi

if [ ! -d ~/.config/nvim ]; then
  git clone https://github.com/yaomengsi/template.git ~/.config/nvim
fi

{{ end -}}
