Host github.com
    HostName ssh.github.com
    Port 443
    User {{ .email }}
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/github-id-rsa
    #ProxyCommand nc -x `ip route show | grep -i default | awk '{ print $3}'`:4067 %h %p
    #ProxyCommand connect -H `ip route show | grep -i default | awk '{ print $3}'`:4067 %h %p
