[Unit]
Description=LiteLLM Proxy
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/repo/private/explorer_fastapi
ExecStart=%h/repo/private/explorer_fastapi/scripts/entrypoint_litellm.sh
Environment=PYTHONPATH=%h/repo/private/explorer_fastapi/src
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=LOGURU_COLORIZE=False
Environment=LOGURU_SERIALIZE=False
Environment=PROMETHEUS_MULTIPROCESS_DIR=/tmp/
Environment=PROMETHEUS_MULTIPROC_DIR=/tmp/
Restart=on-failure
RestartSec=5
TimeoutStopSec=60
KillMode=control-group
StandardOutput=append:%h/repo/private/explorer_fastapi/log/stdout_litellm.log
StandardError=append:%h/repo/private/explorer_fastapi/log/stderr_litellm.log

[Install]
WantedBy=default.target
