[Unit]
Description=PM2 process manager
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
User=m
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH=%h/.local/share/pnpm/bin:%h/.local/share/mise/installs/node/lts/bin:%h/.local/share/mise/installs/npm-9router/latest/bin:%h/.local/share/mise/installs/npm-pm2/latest/bin:%h/.local/share/mise/installs/pnpm/11.1.1:%h/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/usr/lib/wsl/lib:%h/.cargo/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PM2_HOME=%h/.pm2
PIDFile=%h/.pm2/pm2.pid
Restart=on-failure

ExecStart=%h/.local/share/mise/installs/npm-pm2/7.0.1/lib/node_modules/pm2/bin/pm2 resurrect
ExecReload=%h/.local/share/mise/installs/npm-pm2/7.0.1/lib/node_modules/pm2/bin/pm2 reload all
ExecStop=%h/.local/share/mise/installs/npm-pm2/7.0.1/lib/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=default.target
; WantedBy=multi-user.target

