[Unit]
Description=Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target

[Service]
Type=simple
ExecStart=/home/m/.local/bin/supervisord -n -c /home/m/etc/supervisord.conf
ExecStop=/home/m/.local/bin/supervisorctl $OPTIONS shutdown
ExecReload=/home/m/.local/bin/supervisorctl -c /home/m/etc/supervisord.conf $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=50s
User=m

[Install]
WantedBy=default.target
; WantedBy=multi-user.target

