
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $wsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}

[data]
    osid = {{ $osid | quote }}
    
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    
    is_wsl = {{ $wsl }}
{{ if ne .chezmoi.os "windows" }}
    uname_arch = "{{ output "uname" "-m" | trim }}"
{{ else }}
    uname_arch = "{{ env "PROCESSOR_ARCHITECTURE" }}"
